/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700;800&display=swap');

/*===== VARIABLES CSS =====*/
:root{
  --nav-width: 92px;

  /*===== Colores =====*/
  --bg-color: rgb(25, 11, 40);
  --sub-color: #605f5eff;
  --earth-yellow: #dbad6aff;
  --first-color: rgb(231, 29, 52);
  --white-color: #f0f4efff;
  --color-error: #cc3333;
  --color-success: #4bb544; 

  
  /*===== Fuente y tipografia =====*/
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: .875rem;
  
  /*===== z index =====*/
  --z-fixed: 100;
}


/*===== BASE =====*/
*,::before,::after{
  box-sizing: border-box;
}
body{
  position: relative;
  margin: 0;
  padding: 2rem 0 0 6.75rem;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  transition: .5s;
}
h1{
  margin: 0;
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
a{
  text-decoration: none;
}

/*===== l NAV =====*/
.l-navbar{
  position: fixed;
  top: 0;
  left: 0;
  width: var(--nav-width);
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--white-color);
  padding: 1.5rem 1.5rem 2rem;
  transition: .5s;
  z-index: var(--z-fixed);
}

/*===== NAV =====*/
.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.nav__brand{
  display: grid;
  grid-template-columns: max-content max-content;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.nav__toggle{
  font-size: 1.25rem;
  padding: .75rem;
  cursor: pointer;
}
.nav__logo{
  color: var(--white-color);
  font-weight: 600;
}

.nav__link{
  display: grid;
  grid-template-columns: max-content max-content;
  align-items: center;
  column-gap: .75rem;
  padding: .75rem;
  color: var(--white-color);
  border-radius: .5rem;
  margin-bottom: 1rem;
  transition: .3s;
  cursor: pointer;
}
.nav__link:hover{
  background-color: var(--first-color);
}
.nav__icon{
  font-size: 1.25rem;
}
.nav__name{
  font-size: var(--small-font-size);
}

/*Expander menu*/
.expander{
  width: calc(var(--nav-width) + 9.25rem);
}

/*Add padding body*/
.body-pd{
  padding: 0.1rem 0 0 16rem;
}

/*Active links menu*/
.active{
  background-color: var(--first-color);
}

/*===== COLLAPSE =====*/
.collapse{
  grid-template-columns: 20px max-content 1fr;
}
.collapse__link{
  justify-self: flex-end;
  transition: .5s;
}
.collapse__menu{
  display: none;
  padding: .75rem 2.25rem;
}
.collapse__sublink{
  color: var(--sub-color);
  font-size: var(--small-font-size);
}
.collapse__sublink:hover{
  color: var(--white-color);
}

/*Show collapse*/
.showCollapse{
  display: block;
}

/*Rotate icon*/
.rotate{
  transform: rotate(180deg);
}

/* Search BAR */
.search-bar {
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.15);
  position: relative;
  width: fit-content;
  min-width: 500px;
  
}

input {
  width:auto;
  border: none;
  height: 50px;
  border-radius: 5px;
  padding: 0px 40px 0px 10px;
  font-size: 18px;
  box-shadow: 0px 1px 4px rgba(0,0,0,0.1);
}

input:focus {
  outline: none;
}

button {
  position: absolute;
  border: none;
  background: none;
  top: 0;
  right: 0;
  height: 50px;
  line-height: 50px;
  padding: 0;
  width: 50px;
}

button:focus {
  outline: none;
}

button i {
  width: 100%;
  color: #6d7b98;
  line-height: 50px;
  font-size: 22px;
}

.results {
  padding: 0px;
}

.results ul {margin: 0; padding: 0; }
.results ul li {
  list-style: none;
  border-radius: 3px;
  opacity: 0;
  display: none;
  padding: 8px 12px;
  transition: all .5s linear;
}

.show .results ul li {
  opacity: 1;
  display: block;
  
}
.show .results a{
  color: inherit;
}
.show .results {
  padding: 10px;
}

.results ul li:hover {
  background: #ececec
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  width: fit-content;
}
.Upcoming-Events {
   grid-area: 1 / 1 / 2 / 5; 
   background-color: var(--earth-yellow);
   min-height: 300px;
   margin-left: 3%;
   margin-top: 30px;
   margin-bottom: 50px;
   
}
.Next-Month { grid-area: 1 / 1 / 2 / 3; }
.Next-SixMonths { grid-area: 1 / 3 / 2 / 5; }
.Add-Event { 
  margin-left: 3%;
  background-color: var(--bg-color);
  display: grid;
  grid-template-columns: 1.7fr 0.3fr;
  grid-template-rows: 0.6fr 1fr 1.4fr;
  gap: 0px 0px;
  grid-template-areas:
    "customer-search Add-Button"
    "auto-filled auto-filled"
    "required-info required-info";
  grid-area: 2 / 1 / 4 / 3;
  border-radius: 10px;
  max-height: 80px;
  
}
.Add-Event .auto-filled .required-info{
  display: none;
  
  
}
.Add-Event.expand{
  max-height: 100%;
}
.Add-Event h5{
  margin-left: 4%;
  color: white;
  transition: 0.3s ease;
  font-family: 'Open-Sans', sans-serif;
  font-size: 22px;
  font-weight: 300;
  
}

/* add event content */
.Add-Button { 
  grid-area: Add-Button;
  font-size: 40px;
  margin: 10px;
  transition: 0.1s;
  
}
.Add-Button a{ 
  text-decoration: none;
  color:var(--first-color);
}
.Add-Button :hover{
  color: var(--earth-yellow);
  transition: 0.4s ease-out;
  transform: rotate(180deg);
}
.customer-search {
  grid-area: customer-search;
  margin: 10px;
  position: relative;
   vertical-align: bottom;
  
}
.auto-filled { 
  font-size: 13px;
  grid-area: auto-filled; 
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  /* top: 50%; */

}

.auto-filled h5{
  color: var(--bg-color);
  margin: 20px;
  padding: 4px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 2px 5px 5px 6px rgba(0,0,0,0.40);
  position: relative;
  width: fit-content;
  min-width: 500px;
  vertical-align: middle;

}
.required-info { 
  grid-area: required-info;
  display: inline-flexbox;
  text-align: left;
  display: none;
  margin-left: 10px;
  padding: 5px;
  color: white;
}
.required-info input :not(.full-date){
  width: 100%;
  font-size: 15px;
}
.full-date{
  width: 25%;
  margin: 5px;
  font-size: 15px;
}
/* add event content */



.Event-Revenue { grid-area: 2 / 3 / 4 / 5; }
.Current-Revenue { grid-area: 2 / 3 / 3 / 5; }
.Upcoming-Revenue { grid-area: 3 / 3 / 4 / 5; }

#Events-Header{
  margin-left: 5%;
  margin-right: 5%;
  color: #FFF;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  background-color: var(--first-color);
  padding: 20px;
  box-shadow: 0px 2px 10px 2px rgba(0,0,0,0.20);
  border-radius: 10px;
}