body {
    --color-primary: #af190e; 
    --color-primary-dark: #83120a;
    --color-secondary: #111D4A;
    --color-outline: #2f54da;  
    --color-error: #cc3333;
    --color-success: #4bb544; 
    }